<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mxc.springbootmybatisquick.mybatis.mapper.DepartmentMapper">
  <resultMap id="BaseResultMap" type="com.mxc.springbootmybatisquick.mybatis.model.Department">
    <!--@mbg.generated-->
    <!--@Table department-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="extdata" jdbcType="VARCHAR" property="extdata" />
    <result column="is_deleted" jdbcType="BOOLEAN" property="isDeleted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, parent_id, org_id, `name`, extdata, is_deleted, create_time
  </sql>
</mapper>