<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mxc.springbootmybatisquick.mybatis.mapper.UserRoleMapper">
  <resultMap id="BaseResultMap" type="com.mxc.springbootmybatisquick.mybatis.model.UserRole">
    <!--@mbg.generated-->
    <!--@Table user_role-->
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <id column="role_id" jdbcType="INTEGER" property="roleId" />
  </resultMap>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update user_role
    <trim prefix="set" suffixOverrides="," />
    where user_id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.userId,jdbcType=INTEGER}
    </foreach>
  </update>
</mapper>